<!-- <div class="code"><%# @pictures.inspect %></div> -->
<nav>
<h1>List of Pictures</h1>
<a href="http://localhost:3000/pictures/new">Add a new picture</a>
</nav>

<!-- You could push the new picture into the array before -->
<%# if @new_picture != nil %>
  <%# @pictures << @new_picture %>
<%# end %>

<!-- after the @new_picture is pushed into the @pictures array -->
<!-- <div class="code"><%# @pictures.inspect %></div> -->

<ul>
  <% @pictures.each_with_index do |pic, index| %>
    <li> <a href="http://localhost:3000/pictures/<%= index + 1 %>"> <img src="<%= pic %>"> </a> </li>
  <% end %>
</ul>
