<section>
  <h1>Add a New Picture</h1>
  <form action="http://localhost:3000/pictures" method="post">
    <p><label>picture url:</label><input type="text" name="url"></p>
    <p><label>caption:</label><input type="text" name="caption"></p>
    <p><label>city of origin:</label><input type="text" name="city_of_origin"></p>
    <input type="submit" value="Submit">
  </form>
</section>
